html{
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}



body{
    // margin: 0px 50px;
}

a, a:hover, a:active{
    text-decoration: none;
    font-family: $font-openSans;
    font-weight:  $font-regular;
    font-size: $font-sz-a;
}



h1,h2,h3{
    font-weight: $font-bold;
    font-family: $font-raleway;
}

h1{
    font-size: 2.2rem;
    color: $clr-darkBlue;
    line-height: 3rem;

}

h2{
    font-size: 1.9rem;
}

h3{
    font-size: 0.75rem;
}

p{
    font-family: $font-openSans;
    font-weight: $font-regular;
    font-size: 0.875rem;
    color: $clr-darkBlue;
    line-height: 1.3rem;
    
}

img{
    display: block;
    height: auto;
    width: 100%;

}

.logo{
    width: 10.4375rem;
    height: 3.0625rem;
        @media (max-width:556px){
            width:7.3125rem;
            height: 2.4375rem;
        }
}

i {
    font-size: 2rem;
    color: $white;
}

.flex{
    display:flex;

    &-sa{
        justify-content: space-around;
    }

    &-sb{
        justify-content: space-between;
    }
    
    &-se{
        justify-content: space-evenly;
    }


    &-al{
        align-items: center;
    }

    &-fd{
        flex-direction: column;
    }
    &-wrap{
        flex-wrap: wrap;
    }
}