html{
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}



body{
    // margin: 0px 50px;
}

a, a:hover, a:active{
    text-decoration: none;
    font-family: $font-openSans;
    font-weight:  $font-regular;
    font-size: $font-sz;
    @media (max-width:600px) {
        font-size: $font-sz-mobile;
                
    }
}



h1,h2,h3{
    font-weight: $font-bold;
    font-family: $font-raleway;
}

h1{
    font-size: $font-sz-h1;
    color: $clr-darkBlue;
    line-height: $line-height-h1;

    @media (max-width: 768px) {
        font-size: $font-sz-h1-mobile;
        line-height: $line-height-h1-mobile;
    }

}

h2{
    font-size: 1.9rem;
}

h3{
    font-size: 0.75rem;
}

p{
    font-family: $font-openSans;
    font-weight: $font-regular;
    font-size: $font-sz;
    color: $clr-darkBlue;
    line-height: $line-height;
    @media (max-width:600px) {
        font-size: $font-sz-mobile; 
    }

}

img{
    display: block;
    height: auto;
    width: 100%;

}

.logo{
    width: 10.4375rem;
   

        @media (max-width:556px){
            width:30%;
            
        }
}

i {
    font-size: 2rem;
    color: $white;
}

.flex{
    display:flex;

    &-sa{
        justify-content: space-around;
    }

    &-sb{
        justify-content: space-between;
    }
    
    &-se{
        justify-content: space-evenly;
    }


    &-al{
        align-items: center;
    }

    &-fd{
        flex-direction: column;
    }
    &-wrap{
        flex-wrap: wrap;
    }
}