header{
    // margin-top: 1.25rem;
    // margin: auto;
    padding: 1.25rem 3.125rem 0 3.125rem; 

    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    img{
        display: inline-block;
    }
    
    nav{
        a{
            color: $clr-darkBlue;

            &:hover{
                color: gray;
            }

            &:not(:first-child){
                margin-left: 3.125rem;
                @media (max-width: 500px) {
                    margin-left: 0.5rem;
                    
                }
                
            }

            @media (max-width:600px) {
                font-size: $font-sz-a-mobile;
                
            }

        }
        
    }




}