// hero section
.hero{
    margin: 6.25rem 3.125rem 0 3.125rem;
    color: $clr-darkBlue;
    @media (max-width: 556px) {
        margin: 5rem 2.1875rem 0 2.1875rem;  
        flex-direction: column-reverse;             
    }
    

    &__text{
        width:45%;
        @media (max-width: 556px) {
            margin: auto;
            width: 100%; 
            text-align: center;           
        }

        > p{
            margin: 0.625rem auto;
            width: 80%;
            font-family: $font-raleway;
        }

        .hero__form{
            margin-top: 0.625rem;
            input[type=email]{
                width: 20rem;
                padding: 1.125rem 0 1.125rem 1.3125rem;
                border: 1.5px solid black;
                border-radius: 5px;
                

                &::placeholder{
                    font-family: $font-openSans;
                    font-size: 0.875rem;
                    opacity: 0.5;
                }
                @media (max-width: 556px) {
                    margin: auto;
                    margin-top: 10px;
                    width: 100%
                }
            }

            input[type=button]{
                margin-left: 1.25rem;
                background: $clr-brightBlue;
                padding: 1.125rem 3.125rem;
                box-shadow: 0 2px 4px gray;
                border: none;
                color: $white;
                font-family: $font-raleway;
                font-weight: $font-bold;
                border-radius: 5px;
                
                &:hover{
                    background: $clr-cyan;
                }

                @media (max-width: 556px) {
                    margin: 10px auto;
                    width: 100%
                }
            }
        }
    }


    &__image{
        width: 42.375rem;
        height: 30.8125rem;
        @media (max-width: 556px) {
            margin-top: 100px;
            width: 27.375rem;
            height: 20.0625rem;           
        }
    }
    


}

// hero section with testimonial card

.testimonial{
    margin-top: 12.5rem ;
    padding: 6.875rem 5rem;
    background-image: url(/images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: top;
    @media (max-width: 556px) {
        background-image: url(/images/bg-curve-mobile.svg);
        }
    }
    



    aside{

        > p{
            margin-top: 1.25rem;
        }
        
        .testimonial-link{
            a{
                margin-top: 1.25rem ;
                display: inline-flex;
                align-items: center;
                
                color: $clr-cyan;
                img{
                    margin-left: 5px;
                    width: 0.75rem;
                    height: 0.75rem;
                }

            }
            hr{
                
                margin-top: 2px;
                border: 0.2px solid $clr-cyan;
                width: 145px;
                
        
            }
            

        }

        .testimonial-card{
            margin-top: 1.25rem;
            width: 356px;
            height: 217px;
            background: $white;
            box-shadow: 0 2px 3px gray;
            border-radius: 0.625rem;
            padding: 25px 30px;
            >img{
                width: 0.75rem;
                height: 0.75rem;
            }
            >p{
                margin-top: 1.25rem;
            }

            .card-profile{
                margin-top: 1.25rem;
                
                img{
                    width: 2.1875rem;
                    height: 2.1875rem;
                    border-radius: 3.125rem;
                }

                .name{
                    margin-left: 0.625rem;
                    p{
                        
                        font-size: 0.625rem;
                    }
                }
            }
                

        }
        

        &:not(:first-child){
            margin-top: 1.25rem;
        }
    }

    > img{
        width: 34.5rem;
        height: auto;

    }
    



.subscription{
    background: $clr-desaturatedBlue;
    padding: 10.625rem 5rem;
    color: $white;
    
    &__copy{
        
        p{
            margin-top: 20px;
            color: $white;
            width: 60%;
            line-height: 1.7rem;
            
        }

    }

    &__form{
            .subscription-email{
                width: 480px;
                padding: 1.125rem 0 1.125rem 1.3125rem;
                border: 0px solid black;
                border-radius: 5px;
                
                &::placeholder{
                    font-family: $font-openSans;
                    font-size: 0.875rem;
                    opacity: 0.5; 
                }
            }

            .subscription-button{
                width: 200px;
                margin-top: 1.25rem;
                box-shadow: 0 1px 2px hsl(0, 4%, 10%);
                border-radius: 5px;
                display: block;
                background: $clr-brightBlue;
                padding: 1.125rem 2.1875rem;
                font-size: 0.625rem;
                font-family: $font-raleway;
                font-weight: $font-bold;
                color: $white;
                border: none;

            }
        }
}

