$clr-darkBlue: hsl(243, 87%, 12%);
$clr-desaturatedBlue: hsl(238, 22%, 44%);
$clr-brightBlue: hsl(224, 93%, 58%);
$clr-cyan: hsl(170, 45%, 43%);
$neutral-grayishBlue: hsl(240, 75%, 98%);
$neutral-gray: hsl(0, 0%, 75%);
$white: hsl(0, 100%, 100%);

$font-raleway:  'Raleway', sans-serif;
$font-openSans: 'Open Sans', sans-serif;
$font-bold: 700;
$font-regular: 400;

$font-sz: 0.875rem;
$font-sz-mobile: 0.75rem;

$font-sz-h1: 2.25rem;
$font-sz-h1-mobile: 1.3rem;

$margin-center: 0px auto;

$line-height:  1.3rem;



$line-height-h1: 3rem;
$line-height-h1-mobile: 2rem;


