html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a, a:hover, a:active {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
}

@media (max-width: 600px) {
  a, a:hover, a:active {
    font-size: 0.75rem;
  }
}

h1, h2, h3 {
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 2.25rem;
  color: #070439;
  line-height: 3rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}

h2 {
  font-size: 1.9rem;
}

h3 {
  font-size: 0.75rem;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  color: #070439;
  line-height: 1.3rem;
}

@media (max-width: 600px) {
  p {
    font-size: 0.75rem;
  }
}

img {
  display: block;
  height: auto;
  width: 100%;
}

.logo {
  width: 10.4375rem;
}

@media (max-width: 556px) {
  .logo {
    width: 30%;
  }
}

i {
  font-size: 2rem;
  color: white;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-se {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flex-al {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-fd {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header {
  padding: 1.25rem 3.125rem 0 3.125rem;
}

@media (max-width: 556px) {
  header {
    padding: 1.875rem 2.125rem;
  }
}

header img {
  display: inline-block;
}

header nav a {
  color: #070439;
}

header nav a:hover {
  color: gray;
}

header nav a:not(:first-child) {
  margin-left: 3.125rem;
}

@media (max-width: 500px) {
  header nav a:not(:first-child) {
    margin-left: 1rem;
  }
}

.hero {
  margin: 6.25rem 3.125rem 0 3.125rem;
  color: #070439;
}

@media (max-width: 768px) {
  .hero {
    margin: 0 2.1875rem 0 2.1875rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.hero__text {
  width: 45%;
}

@media (max-width: 768px) {
  .hero__text {
    margin-top: 1.25rem;
    width: 100%;
    text-align: center;
  }
}

.hero__text > p {
  margin: 0.625rem 0;
  width: 95%;
  font-family: "Raleway", sans-serif;
}

@media (max-width: 768px) {
  .hero__text > p {
    width: 100%;
  }
}

.hero__text .hero__form {
  margin-top: 0.625rem;
}

.hero__text .hero__form input[type="email"] {
  width: 60%;
  padding: 1.125rem 0 1.125rem 1.3125rem;
  border: 1.5px solid black;
  border-radius: 5px;
}

.hero__text .hero__form input[type="email"]::-webkit-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  opacity: 0.5;
}

.hero__text .hero__form input[type="email"]:-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  opacity: 0.5;
}

.hero__text .hero__form input[type="email"]::-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  opacity: 0.5;
}

.hero__text .hero__form input[type="email"]::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  opacity: 0.5;
}

@media (max-width: 1200px) {
  .hero__text .hero__form input[type="email"]::-webkit-input-placeholder {
    font-size: 0.75rem;
  }
  .hero__text .hero__form input[type="email"]:-ms-input-placeholder {
    font-size: 0.75rem;
  }
  .hero__text .hero__form input[type="email"]::-ms-input-placeholder {
    font-size: 0.75rem;
  }
  .hero__text .hero__form input[type="email"]::placeholder {
    font-size: 0.75rem;
  }
}

@media (max-width: 1200px) {
  .hero__text .hero__form input[type="email"] {
    width: 30%;
  }
}

@media (max-width: 768px) {
  .hero__text .hero__form input[type="email"] {
    margin: auto;
    margin-top: 10px;
    width: 100%;
  }
}

.hero__text .hero__form input[type="button"] {
  margin-left: 1.25rem;
  background: #3065f8;
  padding: 1.125rem 3.125rem;
  -webkit-box-shadow: 0 2px 4px gray;
          box-shadow: 0 2px 4px gray;
  border: none;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  border-radius: 5px;
}

.hero__text .hero__form input[type="button"]:hover {
  background: #3c9f8f;
}

@media (max-width: 1200px) {
  .hero__text .hero__form input[type="button"] {
    margin-left: 1rem;
    font-size: 0.75rem;
  }
}

@media (max-width: 768px) {
  .hero__text .hero__form input[type="button"] {
    margin: 10px auto;
    width: 100%;
  }
}

.hero__image {
  width: 50%;
}

@media (max-width: 768px) {
  .hero__image {
    margin-top: 100px;
    width: 90%;
  }
}

.testimonial {
  margin-top: 12.5rem;
  padding: 6.875rem 5rem;
  background-image: url(/images/bg-curve-desktop.svg);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: top;
}

@media (max-width: 556px) {
  .testimonial {
    background-image: url(/images/bg-curve-mobile.svg);
  }
}

aside > p {
  margin-top: 1.25rem;
}

aside .testimonial-link a {
  margin-top: 1.25rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3c9f8f;
}

aside .testimonial-link a img {
  margin-left: 5px;
  width: 0.75rem;
  height: 0.75rem;
}

aside .testimonial-link hr {
  margin-top: 2px;
  border: 0.2px solid #3c9f8f;
  width: 145px;
}

aside .testimonial-card {
  margin-top: 1.25rem;
  width: 356px;
  height: 217px;
  background: white;
  -webkit-box-shadow: 0 2px 3px gray;
          box-shadow: 0 2px 3px gray;
  border-radius: 0.625rem;
  padding: 25px 30px;
}

aside .testimonial-card > img {
  width: 0.75rem;
  height: 0.75rem;
}

aside .testimonial-card > p {
  margin-top: 1.25rem;
}

aside .testimonial-card .card-profile {
  margin-top: 1.25rem;
}

aside .testimonial-card .card-profile img {
  width: 2.1875rem;
  height: 2.1875rem;
  border-radius: 3.125rem;
}

aside .testimonial-card .card-profile .name {
  margin-left: 0.625rem;
}

aside .testimonial-card .card-profile .name p {
  font-size: 0.625rem;
}

aside:not(:first-child) {
  margin-top: 1.25rem;
}

> img {
  width: 34.5rem;
  height: auto;
}

.subscription {
  background: #585989;
  padding: 10.625rem 5rem;
  color: white;
}

.subscription__copy p {
  margin-top: 20px;
  color: white;
  width: 60%;
  line-height: 1.7rem;
}

.subscription__form .subscription-email {
  width: 480px;
  padding: 1.125rem 0 1.125rem 1.3125rem;
  border: 0px solid black;
  border-radius: 5px;
}

.subscription__form .subscription-email::-webkit-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  opacity: 0.5;
}

.subscription__form .subscription-email:-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  opacity: 0.5;
}

.subscription__form .subscription-email::-ms-input-placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  opacity: 0.5;
}

.subscription__form .subscription-email::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  opacity: 0.5;
}

.subscription__form .subscription-button {
  width: 200px;
  margin-top: 1.25rem;
  -webkit-box-shadow: 0 1px 2px #1b1818;
          box-shadow: 0 1px 2px #1b1818;
  border-radius: 5px;
  display: block;
  background: #3065f8;
  padding: 1.125rem 2.1875rem;
  font-size: 0.625rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: white;
  border: none;
}

.footer {
  background: #070439;
  padding: 110px 80px;
}

.footer__logo .logo {
  color: white;
}

.footer__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.footer__options .footer-contact .contact {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__options .footer-contact .contact img {
  width: 20px;
  height: 20px;
}

.footer__options .footer-contact .contact p {
  color: white;
  margin-left: 20px;
}

.footer__options .footer-links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(10px, auto))[2];
      grid-template-columns: repeat(2, minmax(10px, auto));
  -ms-grid-rows: (minmax(10px, auto))[4];
      grid-template-rows: repeat(4, minmax(10px, auto));
  grid-row-gap: 20px;
  grid-column-gap: 50px;
}

.footer__options .footer-links a {
  color: white;
}

.footer__options .footer-sm a:not(:first-child) {
  margin-left: 10px;
}
/*# sourceMappingURL=style.css.map */